@import url(sanitize.css);

.content {
  background-color: #fff;
  margin: 50px auto;
  padding: 40px 70px 65px 70px;
  width: 600px;
  shadow: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, .2);
  position: relative;
}
body {
  background-color: #F6CED8;
  font-size: 12px;
  color: #424242;
}
button {
  width: 100%;
  background-color: #0431B4;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .1em;
  padding: 15px;
  border-radius: 4px;
  border: 0px;
}
input {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 8px;
}
.form {
    margin-top: 35px;
}
p {
  text-align: center;
}
h1 {
  letter-spacing: .1em;
  font-size: 26px;
  width: 100%;
  text-align: center;
}
.nyukai {
  font-weight: bold;
  background: linear-gradient(transparent 75%, #CEF6F5 75%);
}
label {
  display: block;
}
.gentei {
  display: inline-block;
  width: 90px;
  height: 90px;
  font-weight: bold;
  line-height: 90px;
  color: white;
  text-align: center;
  background-color: #FE2E64;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  left: -15px;
}
.hissu {
  display: inline-block;
  padding: 0.4em 0.8em;
  font-size: 0.8em;
  color: #FF0040;
  text-decoration: none;
  user-select: none;
  border: 1px solid #FF0040;
  border-radius: 20px;
}
/* Font Awesomeを使用しています。*/
.shareList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.shareList-item {
  width: 30px;
  height: 30px;
  margin: 5px 0 0 5px;
  line-height: 30px;
  text-align: center;
}

.icon {
  display: block;
  color: #fff;
  border-radius: 5px;
}

.icon-twitter {
  background: #55acee;
}

.icon-facebook {
  background: #3b5998;
}

.icon-pocket {
  background: #ee4056;
}
